<b class='class_name'>Demon Hunter</b>
<div id="class_column1">
	<img id="class_image" src="images/Ranger.png">
	<div class="videogallery">
	<a class="voverlay" href="http://www.youtube.com/v/WByqPqwBrzs?autoplay=1&rel=0&enablejsapi=1&playerapiid=ytplayer" title="Diablo 3 - The Demon Hunter Trailer"><img src="index_videolb/thumbnails/0.png" alt="Diablo 3 - The Demon Hunter Trailer" /><span></span></a>
	<script src="index_videolb/jquery.tools.min.js" type="text/javascript"></script>
	<script src="index_videolb/videolightbox.js" type="text/javascript"></script>
	</div>
</div>
<div id="class_column2">
<b class="class_story">Story</b>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi commodi eius perferendis architecto recusandae aliquam odit, ipsum alias obcaecati praesentium. Libero nobis enim inventore quasi nisi eveniet laudantium, quis eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit et quibusdam corporis, reiciendis assumenda aliquam sunt qui ea exercitationem laboriosam nam quae. Ullam soluta aperiam temporibus, facere in tenetur amet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nihil, voluptas id mollitia vero dicta laudantium eligendi maiores suscipit nemo corrupti illo, sequi neque soluta, iure quos odio vitae. Unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nisi, voluptate obcaecati, mollitia nobis hic vero maxime rerum nam ad eveniet molestias, velit neque pariatur consequuntur similique, quasi inventore excepturi.</p>
<ul>
	<li class="indent_li">Spells</li>
	<li>Vanish: Hides party on field; reduces user's chance of being attacked</li>
	<li>Bolt Slash: Attack will cause electric damage</li>
	<li>Twin Hits: Physical damage is doubled for a couple of turns</li>
	<li>Blazemost: Causes ~190 in fire damage to a group</li>
	<li>Disperse: Removes one enemy from battle (Works like Expel)</li>
</ul>
</div>
<div class='class_navbar'>
<ul>
	<li><img src="images/glad_icon.png"></li>
	<li><img src="images/Crusader-Icon.png"></li>
	<li><img src="images/monk_crest.png"></li>
	<li><img src="images/wizz_icon.png"></li>
	<li><img src="images/crest.png"></li>
</ul>
</div>