<div id="slides">
	<img src="images/pic2.jpg">
	<img src="images/pic7.jpg">
	<img src="images/pic1.jpg">
	<img src="images/pic3.jpg">
	<img src="images/pic4.jpg">
	<img src="images/pic5.jpg">
	<img src="images/pic6.jpg">
	<img src="images/pic8.jpg">
</div>

<div id="lore">
	<p>Story</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias minus aut voluptatibus numquam! Facere, alias corporis accusantium asperiores reiciendis quis. Quisquam soluta deleniti voluptas consectetur officia ut possimus id porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab porro, eius. Esse ratione accusamus, quibusdam reiciendis suscipit iste nostrum, doloribus, sed eius recusandae tempora nisi saepe non ut veniam quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nobis excepturi illum eaque, aperiam quibusdam quaerat veniam alias iste commodi, ipsum natus officiis magni ad unde id cum harum itaque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam iusto id saepe qui corporis! Veniam sunt ab blanditiis, sed excepturi maxime accusantium fugiat tempore officia nemo aspernatur vitae magnam!</p>
</div>