<style>
body {
	background-image: url("../images/homebg.jpg");
	background-repeat: no-repeat;
	background-size: 1000px 80%;
	background-attachment: fixed;
    background-position: 50% 5%; 
    background-color:black;

}
</style>
    <div>
    <img src="images/fire1.gif" width="30px" height="100%"
    style="
    
    position:fixed;
    left:0;
    top:0;
    margin-top:-2px;
    "> 
    <img src="images/fire2.gif" width="30px" height="100%"
    style="
    
    position:fixed;
    right:0;
    top:0;
    margin-top:-2px;
    "> 
</div>

<div class="homediv" >

<h1>Enter the <i>QUIET NINJA SYMPHONY<i></h1>
<h2>01/23/15<h2>
<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    <img src="images/a1.jpg" width="100%"></p>
    <h2>01/15/15<h2>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</P>
<iframe width="100%" height="300"
src="http://www.youtube.com/embed/rzFfQOpu000">
</iframe>
<h2>01/01/15<h2>
<p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<p>
<img src="images/a2.jpg" width="100%"></p>
<h2>12/13/14<h2>
<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
<img src="images/a3.jpg" width="100%">
<h2>11/14/14<h2>
<p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.morem
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
</p><img src="images/a4.gif" width="100%">
<h2>10/23/14<h2>
<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
</p>
<img src="images/a5.jpg" width="100%">
<p>
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>


