<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dynamic Title...</title>
</head>
<body>
	<nav>
		<ul>	
			<li></li>
			<li></li>
		</ul>
	</nav>
<%= yield %>
<footer>

</footer>
</body>
</html>