<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<head>
		  <script src="jquery-2.1.3.min.js"></script>
 		  <script src="jquery.slides.min.js"></script>
    </head>
	<header>
		<nav class="top-navigation">
			<ul class="links" >
	         	<a class="home" href="index.html"><b>Home</b></a>
	       		<a href="asdasd">Story</a>
				<a href="helping_hands.html">Classes</a>
				<a href="mission.html">Pre-order</a>
	       
           </ul>
       </nav>
   </header>

</html>