<h1>Please send us your thoughts!</h1>

<form method="POST" action="/contact">
	<p><label for="name">Name</label>
	<input name="name" type="text"></p>
	<p><label for="email">Email</label>
	<input name="email" type="text"></p>
	<p><label for="message">Message</label>
	<textarea name="message"></textarea></p>
	<p><input type="submit"></p>
</form>