<form action="/notimportant" method="POST">
	<label for="name">Full Name</label><br>
	<input type="text" name="Name"><br>
	<label for="cardNumber">Credit card number</label><br>
	<input type="text" name="cardNumber"><br>
	<label for="Security">Security Code (In the back)</label><br>
	<input type="text" name="Code"><br>
	<label for="address">Address</label><br>
	<input type="text" name="address"><br>
	<label for="zip">Zip Code</label><br>
	<input type="text" name="zip"><br><br>
	<input type="submit" value="submit">
</form>