

<div id="pay">
	<img src="images/credit.jpg" width="300px">
	<img src="images/asd.png" style="width: 60%; float:right; " >
	<form  action="/contact" method="POST">
	<label for="name">Full Name</label><br>
	<input type="text" name="name"><br>
	<label for="cardNumber">Credit card number</label><br>
	<input type="text" name="cardNumber"><br>
	<label for="Security">Security Code (In the back)</label><br>
	<input type="text" name="Security"><br>
	<label for="address">Address</label><br>
	<input type="text" name="address"><br>
	<label for="zip">Zip Code</label><br>
	<input type="text" name="zip"><br>
	<label for="email">Email address</label><br>
	<input type="text" name="email"><br><br>
	<input type="submit" value="submit">
</form>
<div id="buynow" class="pulse">
<p>Can be yours in the undetermined future for ONLY</p>
<h1>$999.99</h1>
</div>
</div>
<style>
body{
	max-height: 100%;
	background-image: url("../images/layout.jpg");
	background-repeat: no-repeat;
	background-size: 1900px 80%;
	background-attachment: fixed;
    background-position: 50% 50%; 
    background-color:black;
}
</style>



