  <div id="slides">
    <img src="images/pic2.jpg">
    <img src="images/pic7.jpg">
    <img src="images/pic1.jpg">
    <img src="images/pic3.jpg">
    <img src="images/pic4.jpg">
    <img src="images/pic5.jpg">
    <img src="images/pic6.jpg">
    <img src="images/pic8.jpg">
  </div>