html, body {
    margin: 0;
    padding: 0;
}

.top-navigation {

	background-color: black;
	background-image: url("../images/navbg.png");
	background-size: 100% 100%;
	width:100%;
	height:50px;
	position:fixed;
	top:0;
}

.top-navigation .links {
    font-family: 'Roboto', sans-serif;
    color: #838994;
      float:right;
      margin-right: 20px;
      margin-top:25px;
    
}
.top-navigation .links  a {
	
    margin-right: 15px;
  
}

a:link {
	font-family: 'Roboto', sans-serif;
    color: #838994;
	text-decoration: none;
	font-size:100%;
}

a:visited {
	text-decoration: none;
    color: #838994;
}
.top-navigation .links a:hover {
    color: #333333;
}

footer {
	height:50px;
	width:100%;
	background-image: url("../images/footer.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	bottom: 0;
}

div.slimScroll {
	color:#B8B8B8 ;
    background-color: transparent;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top:60px;
    overflow: hidden;
    position: relative;
}
.wrapper, .scroll-wrapper {
    padding: 5px;
}
.scroll-wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 1s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
} 

.scrollBarContainer .scrollBar {
    opacity: 0.5;
}

