html, body {
    margin: 0;
    padding: 0;
}

.top-navigation {

	background-color: black;
	background-image: url("../images/navbg.png");
	width:100%;
	background-repeat:no-repeat; ;
	height:90px;
	position:fixed;
	top:0;
}

.top-navigation .links {
	margin-left:50%;

    font-family: 'Roboto', sans-serif;
    color: #838994;
      margin-top:30px;
    
}
.top-navigation .links  a {

    margin-left: 10px;
  
}

a:link {
	font-family: 'Roboto', sans-serif;
    color: #838994;
	text-decoration: none;
	font-size:100%;
}

a:visited {
	text-decoration: none;
    color: #838994;
}
.top-navigation .links a:hover {
    color: #333333;
}

<<<<<<< HEAD
.slidesjs-navigation,
.slidesjs-pagination {
	display: none;
}

img.slidesjs-slide {
	width: 100%;
	height: auto;
}
div#outer-slidershow {
  margin: auto;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;  
  width: 50%;
}

div#inner-slideshow {
	text-align: center;
}
=======
body .homebg {
	background-image: url("../images/homebg.png");
}

footer {
	height:80px;
	width:100%;
	background-color:black;
	position:fixed;
	bottom: 0;
}
>>>>>>> 6d8f56bc52b96edd8cc769b0fd5f2f9d198fb19d
